* {
    font-family: "nimbus-sans-condensed";
    color: #777;
}
h1 {
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
}
h2 {
    margin: 0;
    text-transform: uppercase;
}
p, li, a {
    font-weight: 400;
    font-size: 1.2rem;
    margin:  0;
}
img {
    max-width: 100%;
    height: auto;
}

@media only screen and (min-width : 768px) {

    .header {
        padding: 100px 0;
    }
    .header h1,
    .header ul,
    .header p {
        margin: .3% 0 0 5%;
    }
    .images {
        
    }
    .mobile img {
        margin-top: 130%;
        margin-left: -5%;
    }
    .desktop img {
        margin-left: 5%;
    }      
    .info {
        text-align: left;
        padding: 35px 0 0 0;
    }
    .header ul {
        padding:0;
    }
    .header li {
        list-style: none;
        display: inline-block;
        color: #777;
    }
    .header li:nth-child(2),
    .header li:nth-child(3) {        
        padding-left: 10px;
        margin-left: 10px;
        border-left: 1px solid #ddd;
    }
    .header a {
        text-decoration: none;
        color: inherit;
    }
    .project-1 {
    }
    .project {
        padding: 100px 0;        
    }
    .dark {
        padding: 100px 0;
        background-color: #f2f2f2;
    }

}