* {
  font-family: "adelle";
}
img {
  max-width: 100%;
  height: auto;
}



@media only screen and (min-width : 768px) {


    .images {
        
    }
    .mobile img {
        margin-top: 130%;
        margin-left: -5%;
    }
    .desktop img {
        margin-left: 5%;
    }      
    .info {
        text-align: left;
    }


}